../.android/
        ../.fiddler/
        ../.gitconfig
        ../.gradle/
        ../.lesshst
        ../.postman/
        ../.vscode/
        ../3D Objects/
        ../AndroidStudioProjects/
        ../AppData/
        ../Contacts/
        ../Downloads/
        ../Favorites/
        ../Links/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{7938da98-6033-11ec-b1b5-9c5c8e0ac34b}.TM.blf
        ../NTUSER.DAT{7938da98-6033-11ec-b1b5-9c5c8e0ac34b}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{7938da98-6033-11ec-b1b5-9c5c8e0ac34b}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Pictures/
        ../Saved Games/
        ../Searches/
        ../UsersAyalagit/
        ../Videos/
        ./
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
